# Lists and Sets

Lists are another data structure that is important to understand when working in Python. The basic idea is a list is a collection of items organized in a list.

In this section we will learn about:
    
    1) What are lists and how to create lists
    2) Indexing and Slicing Lists (similar to Strings)
    3) List Methods
    4) Nested Lists (like arrays)
    5) List Comprehension
    6) What are sets
___

# 1) Intro to Lists

Lists are constructed with brackets [] and commas separating every element in the list.

In [1]:
list1 = ["example", "list", "of", "strings"] # list could be only one data type
list1

['example', 'list', 'of', 'strings']

Lists can also have various data types (it can also include other lists as well)
* a list hold lists are called nested arrays (will get to later)

In [2]:
list2 = ["apple", "orange", 5, True, ["list2","is","here"]]
list2

['apple', 'orange', 5, True]

We can find the length of a list by using the len() method

In [3]:
print("Length of list 1:", len(list1))
print("Length of list 2:", len(list2))

Length of list 1: 4
Length of list 2: 4

# 2) Indexing and Slicing Lists (similar to Strings)
Getting sublists is very similar to Strings and also use the [ ]'s

Grabbing nth item

In [4]:
print(list1[1])
print(list2[0])

list
apple

Grabbing between nth to nth item

In [5]:
print(list1[2:4])
print(list2[2:4])

['of', 'strings']
[5, True]

Grabbing from 0 to nth item

In [6]:
print(list1[:3])
print(list2[:3])

['example', 'list', 'of']
['apple', 'orange', 5]

Grabbing from nth to last

In [7]:
print(list1[2:])
print(list2[2:])

['of', 'strings']
[5, True]

We can also do all the concatenation and multiplication we did with Strings with Lists as well

We can combine lists by using addition

In [8]:
list1 + list2

['example', 'list', 'of', 'strings', 'apple', 'orange', 5, True]

We can multiply list items by using multiplication

In [9]:
print(list1[0]*3)
print(list2*3)

exampleexampleexample
['apple', 'orange', 5, True, 'apple', 'orange', 5, True, 'apple', 'orange', 5, True]

We can add new items to the list by using addition

In [10]:
list1 = list1 + ["additional item"]
list1

['example', 'list', 'of', 'strings', 'additional item']

# 3) List Methods
Similar to strings how we were able to apply methods to Strings, the List data types also has built in methods as well

Using concatenation

We can append items to the list so we don't have to store the new value in another variable

In [11]:
starting_list = [0,1,2,3,4]
starting_list = starting_list + [5] # notice how we have to store this back to starting_list
starting_list

[0, 1, 2, 3, 4, 5]

Using .append()

In [12]:
starting_list = [0,1,2,3,4]
starting_list.append(5) # notice that we don't need to store this / have an equal sign
starting_list

[0, 1, 2, 3, 4, 5]

We can also remove items from a list by using the .pop() method
* .pop() method takes in the index of the item you want to remove
* the .pop() method will return the item that it popped so you can store them

In [13]:
starting_list = [0,1,2,3,4]
popped_item = starting_list.pop(2) # this is popping out the index = 2 

print(starting_list)
print(popped_item)

[0, 1, 3, 4]
2

Similar to CHBE250 or other programming languages you are also able to find the index of the last item by doing len() - 1

In [14]:
print("Original List", starting_list) # the original list
print("Index of last item in list:", len(starting_list) - 1) # returns the last value

last_index = len(starting_list) - 1
print("Value in last index:", starting_list[last_index])

Original List [0, 1, 3, 4]
Index of last item in list: 3
Value in last index: 4

We can also find the max and min of a list

In [7]:
my_list = [2,3,3,4,4,4,6,9,10]

print("max of the list", max(my_list))
print("min of the list", min(my_list))

max of the list 10
min of the list 2

We can also sort lists either in ascending and descending order using
* max()
* min()

In [3]:
sorted(my_list) # ascending

[2, 3, 6, 9, 10]

In [5]:
sorted(my_list, reverse=True) # descending

[10, 9, 6, 3, 2]

We can also count how many times a values shows up in a list with the count() method

In [10]:
my_list.count(2)

1

In [9]:
my_list.count(4)

3

# 4) Nested Lists (like arrays)
Similar to Matlab or other programming languages, we can also have a list of lists, which we can treat like a 2D array.

Imagine we have a 2D array like this
<table>
<tr>
    <td>row/column</td>
    <td>index=0</td>
    <td>index=1</td>
    <td>index=2</td>
     
</tr>
<tr>
    <td>index=0</td>
    <td>0</td>
    <td>1</td>
    <td>2</td>
     
</tr>

<tr>
    <td>index=1</td>
    <td>3</td> 
    <td>4</td> 
    <td>5</td>
     
</tr>
<tr>
    <td>index=2</td>
    <td>6</td> 
    <td>7</td> 
    <td>8</td>
</tr>
 </table>

 We can represent this table with a list that contains three lists
 <br>
[ <br>
[0,1,2], <br>
[3,4,5], <br>
[6,7,8] <br>
]

In [15]:
nested_array = [[0,1,2],[3,4,5],[6,8,9]]
nested_array

[[0, 1, 2], [3, 4, 5], [6, 8, 9]]

We can extract the numbers in the same way as we read the indexing of the table (row,column)
* Recall that indexing starts at 0 in Python

The first number represents the nth lists, and the second number represents which index in the list to access

Using one brackets extracts the rows

In [ ]:
nested_array[0]

[0, 1, 2]

Getting the 0th row, 0th column
* Goes too the 0th list, goes to the 0th position in the list

In [17]:
nested_array[0][0]

0

Getting the 2th row, 2th column
* Goes too the index = 2 list, goes to the index = 1 position in the list

In [18]:
nested_array[2][1]

8

# 5) List Comprehensions

List Comprehensions is an important shorthand to help you manipulate a list quickly 

If we had a list of integers of n length, and we want to multiple every number, traditionally, we would use a for loop and do 2* each number. List Comprehensions allows you to skip writing the for loop at all and can do it in one line

Traditional For Loop

In [19]:
numbers = [0,1,2,3,4,5,6,7,8,9]

for i in range(0, len(numbers)-1): # loops through the index i from 0 to length - 1
    numbers[i] = numbers[i] * 2

numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 9]

List Comprehension

In [20]:
numbers = [0,1,2,3,4,5,6,7,8,9]

numbers = [2*n for n in numbers] # Structure: ["new_value" for "old_value" in "list_name"]

numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# 6) Intro to Sets

Sets are another type of data structures similar to lists, however, the difference is that a set has no duplicates
* Sets are a good way to find how many distinct values you have in a list

In [21]:
list_to_set = [1,1,2,3,4,4,4,5,5,6,7,8,9,9,9,9] # here we have a list that has repeats of some numbers

We can  turn a list into a set to get the distinct values

In [31]:
set_values = set(list_to_set)
set_values

{1, 2, 3, 4, 5, 6, 7, 8, 9}

We can turn the set back into list so we have a list of distinct values
* The reason to turn back into a list is that we can use index to return values

Trying to access an index value of the set will throw an error

In [33]:
set_values[0] # see how this throws an error

TypeError: 'set' object is not subscriptable

We have to turn the set back to a list if we want to be able to loop through it or access the individual values

In [35]:
distinct_list = list(set(list_to_set))
distinct_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]